    @font-face {
        src: url('Billy Ohio.ttf');
        font-family: ohio;
    }
    
    @font-face {
        font-family: 'Reforma-1969-Gris';
        src: url('Reforma-1969-Gris.ttf.woff') format('woff'), url('Reforma-1969-Gris.ttf.svg#Reforma-1969-Gris') format('svg'), url('Reforma-1969-Gris.ttf.eot'), url('Reforma-1969-Gris.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Reforma-1969-Negra';
        src: url('Reforma-1969-Negra.ttf.woff') format('woff'), url('Reforma-1969-Negra.ttf.svg#Reforma-1969-Negra') format('svg'), url('Reforma-1969-Negra.ttf.eot'), url('Reforma-1969-Negra.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    * {
        padding: 0;
        margin: 0;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        background-image: url(/Imgaes/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .w3-display-middle {
        position: relative;
        color: white;
        text-align: center;
        justify-content: center;
        font-size: 76px;
    }
    
    h1 span {
        font-family: ohio;
        line-height: .4;
        color: #DDAB5D;
        font-size: .8em;
        margin-top: 0;
        padding-top: 0;
    }
    
    h1 div {
        font-family: 'Reforma-1969-Negra';
        font-size: 1em;
        padding: 0%;
        line-height: 83px;
        word-spacing: -2px;
    }
    
    .w3-display-middle h1 {
        font-weight: 400;
        font-size: 1.5em;
    }
    
    .w3-display-middle p {
        font-family: 'Reforma-1969-Gris';
        font-size: 22px;
        line-height: 34px;
        margin-top: 40px;
    }
    
    .w3-display-middle img {
        width: 50px;
        height: 50px;
        margin-bottom: 0;
        padding-bottom: 0%;
        display: flex;
        flex-direction: row;
    }
    
    h1 {
        margin: 0;
        padding: 0;
    }
    
    ul li a {
        text-decoration: none;
        color: white;
    }
    
    .navbar-brand-left {
        display: inline-block;
        margin: 0 30px;
        padding: 0;
        line-height: 50px;
    }
    
    .navbar-brand-center {
        display: inline-block;
        margin: 0 auto;
        padding: 0;
        line-height: 50px;
    }
    
    #toggler {
        width: 20px;
        height: 20px;
    }
    
    .navbar {
        padding: 10px 0;
        opacity: .9;
    }